__pycache__/
*.txt
!requirements.txt
*.csv
example_data/*
example_results/*
test_results/*
*.out
archive/
**/*.out
**/*.err
.pytest_cache/
*.egg-info/
**/**output*/**
.conda*/
conda_envs/
# Test conda environment
tests/test_env/